commands:     
    21_application_logs:
        command: echo "/var/app/current/storage/logs/*.log" > app.conf
        cwd: /opt/elasticbeanstalk/tasks/bundlelogs.d
    22_application_logs:
        command: echo "/var/app/current/storage/logs/*.log" > app.conf
        cwd: /opt/elasticbeanstalk/tasks/taillogs.d
    23_application_logs:
        command: echo "/var/app/current/storage/logs/*.log" > app.conf
        cwd: /opt/elasticbeanstalk/tasks/publishlogs.d