container_commands:
    00_chmod1:
        command: "chmod +x .platform/hooks/*/*.sh"

    01_php_artisan_migration:
        command: "php artisan --env=staging migrate"
        leader_only: true

    02_php_artisan_queue_restart:
        command: "php artisan --env=staging queue:restart"
        leader_only: true

    03_php_artisan_optimize:
        command: "php artisan optimize:clear"
        leader_only: true

    04_php_artisan_storage_link:
        command: "php artisan --env=staging storage:link"
        leader_only: true

    05_php_artisan_storage_link:
        command: "php artisan storage:link"
        leader_only: true

    06_php_artisan_storage_link:
        command: "php artisan storage:link --force"
        cwd: "/var/app/staging"
        leader_only: true

    07_php_artisan_queue_restart:
        command: "php artisan queue:restart"
        cwd: "/var/app/staging"
        leader_only: true

